@using (Html.BeginForm())
{
    <div class="sidebar_title">
        <h5>Filter by Price</h5>
    </div>
    <div class="price-filter">
        <div id="slide-range"></div>
        <p class="amount">
            <input type="text" id="amount" min="min" max="max" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range"></div>
    </div>
    <div class="filter_button"><span><button type="submit">filter</button> </span></div>
}


